* {
    margin: 0;
}

#container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 213, 196);
}
#pulo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50px;
    left: 100px;
    height: 100px;
    width: 200px;
    background-color: rgb(218, 214, 167);
    font-size: 40px;
    border: 2px solid black;
    user-select: none;
}
#pulo:hover{
    background-color: rgb(243, 231, 155);
    border: 2px solid white;
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50px;
    left: 360px;
    height: 100px;
    width: 200px;
    background-color: rgb(218, 214, 167);
    font-size: 40px;
    border: 2px solid black;
    user-select: none;
}
#button:hover{
    background-color: rgb(243, 231, 155);
    border: 2px solid white;
}
#samurai{
    position: absolute;
    top: 350px;
    left: 200px;
}
#damage{
    position: absolute;
    top: 250px;
    left: 1080px;
    height: 500px;
    width: 500px;
    background-color: olive;
}